@font-face {
    font-family: 'darcie_markerpenregular';
    src: url('https://sebastian54.github.io/sebfonts/darcie_markerpen-regular-webfont.woff2') format('woff2'),
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'seb_markerpenregular';
    src: url('https://sebastian54.github.io/sebfonts/seb_markerpen-regular-webfont.woff2') format('woff2'),
    font-weight: normal;
    font-style: normal;

}
