@font-face {
    font-family: 'darcie_markerpenregular';
    src: url('darcie_markerpen-regular-webfont.woff2') format('woff2'),
         url('darcie_markerpen-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'seb_markerpenregular';
    src: url('seb_markerpen-regular-webfont.woff2') format('woff2'),
         url('seb_markerpen-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
